
    

#strong {
    color: rgb(255, 230, 230); 
}
.center {
    display: block;
    margin-left: 600px;
    margin-right: 500px;
    width: 50%;
}
#About {
    background-image: url("images/prism.jpg");
    background-size: cover;
}

